# Lists and Tuples

## Lists

A list in Python is simply a collection of items. The items can have different data types; strings, ints, floats, etc... The mathematicians among you may prefer to think of a List as a vector or an array of values.

In [24]:
my_first_list = [4, 5, 6, 'H', 8.5]

Now print the value of ``my_first_list`` using the cell below, and print that variable's data type as well:

In [13]:
print(my_first_list)
print(type(my_first_list))

[4, 5, 6, 'H', 8.5]
<class 'list'>

There are a few different ways to append a value to a list -- the following are all equivalent:

In [25]:
my_first_list = my_first_list + [3]
print(my_first_list)

my_first_list += [3]
print(my_first_list)

my_first_list.append(3)
print(my_first_list)

[4, 5, 6, 'H', 8.5, 3]
[4, 5, 6, 'H', 8.5, 3, 3]
[4, 5, 6, 'H', 8.5, 3, 3, 3]

We can also append many values to a list by concatenating it with another list of values:

In [31]:
my_first_list = my_first_list + [1, 'item', True]
print(my_first_list)

[4, 5, 6, 'H', 8.5, 3, 3, 3, 1, 'item', True]

In [68]:
my_first_list += [7]
print(my_first_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', 8, 7]

We can obtain an item by it's index (position). Note that Python indexing begins from 0 rather than 1:

In [71]:
print(my_first_list[3])

l

Now try to print the item 'H' by it's index:

In [70]:
print(my_first_list[4])

o

We can search a list for an item using the ``.index()`` list method, which returns the index of the first instance of the item:

In [32]:
print(my_first_list.index(1))
print(my_first_list.index('item'))

8
9

Now find the index of the item ``H`` and assign it to the variable ``i``, then use ``i`` to print the item at that index:

In [34]:
i = my_first_list.index('H')
my_first_list[i]

'H'

## Slicing

We can also get multiple items in the list through "slicing" using the ``:`` operator. The syntax is:

- ``list_name[a:b]`` to obtain the items from index ``a`` (inclusive) to index ``b`` (not inclusive),
- ``list_name[a:]`` to obtain the items from index ``a`` (inclusive) to the end of the list,
- ``list_name[:b]`` to obtain the items from the start of the list to index ``b`` (not inclusive).

For example:

In [35]:
print(my_first_list[3:4])
print(my_first_list[3:6])
print(my_first_list[:6])
print(my_first_list[8:])

['H']
['H', 8.5, 3]
[4, 5, 6, 'H', 8.5, 3]
[1, 'item', True]

Also, negative indices refer to positions counting backwards from the end of the list -- i.e. ``-1`` refers to the last item, ``-2`` refers to the second-last item, etc... For example:

In [36]:
print(my_first_list[-1])
print(my_first_list[-3:])

True
[1, 'item', True]

Note that a string in Python can be thought of as a list of characters, and can be sliced accordingly:

In [17]:
text = 'Hello World!'
text[:3]

'Hel'

Now use slicing on the ``text`` variable to obtain a string containing the word ``"World"``, without the exclamation point:

In [38]:
text[6:-1]

'World'

Now obtain the word ``"World"`` again, but this time, do it using negative index values only:

In [19]:
text[-6:-1]

'World'

Note that items in lists can also be reassigned to different values:

In [39]:
my_first_list[0] = 'Hello World'
print(my_first_list)

['Hello World', 5, 6, 'H', 8.5, 3, 3, 3, 1, 'item', True]

Multiple items can be reassigned through slicing. Try to guess what each of these cells will do before running them:

In [40]:
my_first_list[0:2] = 'Hel'
print(my_first_list)

my_first_list[0:2] = 'Hello World'
print(my_first_list)

['H', 'e', 'l', 6, 'H', 8.5, 3, 3, 3, 1, 'item', True]
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', 'l', 6, 'H', 8.5, 3, 3, 3, 1, 'item', True]

In [41]:
my_first_list[-10:] = [8]
print(my_first_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', 8]

We can also print every *n*th item using the syntax ``<variable_name>[::<n>]``. For example:

In [42]:
print(my_first_list[::2])

['H', 'l', 'o', 'W', 'r', 'd']

Lists which only contain strings can be concatenated using the ``.join()`` string method like so:

In [45]:
l = ['Mary', 'had', 'a', 'little', 'lamb']
print(l)
print(' '.join(l))
print('  '.join(l))

['Mary', 'had', 'a', 'little', 'lamb']
Mary had a little lamb
Mary  had  a  little  lamb

Also, the reverse can be done using the ``.split()`` string method, which creates a list of items based on a string. The usage is of the form: ``<string_to_be_split>.split(<pattern>)``, where the splitting is done at the specified string pattern.

For example:

In [46]:
s = 'Her fleece was white as snow'
s.split(' ')  # This splits the string wherever a single whitespace is found

['Her', 'fleece', 'was', 'white', 'as', 'snow']

And different string patterns lead to different splitting behaviour. Again, try to guess what each of these cells will do before running them:

In [47]:
s.split(' w')

['Her fleece', 'as', 'hite as snow']

In [48]:
s.split(' was ')

['Her fleece', 'white as snow']

## Exercise 2:

In the cell below, do the following:

1. Create a string variable ``my_name`` which contains your full name.
2. Print the 4th item of the string.
4. Print items from the second item onwards.
5. Print the 3rd-last item.
6. Print every character up to, but not including, the last two items.
7. Print every third item.
8. Print your name in reverse.
9. Find the *index* of the first instance of each vowel that appears in your name.
10. Use those indices to print every character from the first instance of each vowel onwards.

In [12]:
my_name = 'kaneez fizza' # 1. create a string variable my_name which contains your full name
print (my_name[3]) # 2. Print 4th item of the string
print (my_name[1:]) # 3. Print items from the second item onwards
print (my_name[-3]) # 4. Print 3rd-last item
print (my_name[:-2]) # 5. Print every character up to, but not including, the last two items
print (my_name[2::3]) # 6. Print every 3rd item
print (my_name[::-1]) # 7. Print your nam in reverse
for index, val in enumerate(my_name): # 8. Find the index of the first instance of each vowel that appears in your name
    print('[%s]: %s' % (index, my_name[index]))
print (my_name[my_name.index('a'):])# 9. Use those indices to print every character from the first instance of each vowel onwards

e
aneez fizza
z
kaneez fiz
nzia
azzif zeenak
[0]: k
[1]: a
[2]: n
[3]: e
[4]: e
[5]: z
[6]:
[7]: f
[8]: i
[9]: z
[10]: z
[11]: a
aneez fizza

## Tuples

Tuples are very similar to lists, except that they are "immutable"; i.e. each item in a tuple cannot be replaced by another item. We use round brackets ``(...)`` instead of square brackets ``[...]`` to declare a tuple:

In [21]:
my_first_tuple = (4, 5, 'Hello', 2.43)

Now print the value of this tuple, as well as its data type:

In [25]:
for i, value in enumerate(my_first_tuple):
    print(f'Value at {i} is {(my_first_tuple[i])}')
    print(type(my_first_tuple[i]))

Value at 0 is 4
<class 'int'>
Value at 1 is 5
<class 'int'>
Value at 2 is Hello
<class 'str'>
Value at 3 is 2.43
<class 'float'>

Recall that with lists we can replace items:

In [26]:
my_first_list[0] = 307
print(my_first_list)

NameError: name 'my_first_list' is not defined

but this is not possible for tuples (note that the following error cannot be fixed, because changing a tuple is impossible):

In [27]:
my_first_tuple[0] = 307

TypeError: 'tuple' object does not support item assignment

Note that we can convert a tuple to a list:

In [28]:
l = list(my_first_tuple)
print(l)
print(type(l))

[4, 5, 'Hello', 2.43]
<class 'list'>

and vice-versa:

In [30]:
# Convert the list variable "my_first_list" to a tuple
t = tuple(my_first_tuple)

print(t)
print(type(t))

(4, 5, 'Hello', 2.43)
<class 'tuple'>